body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #E65763, #34043D);
    color: #FFF;
    text-align: center;
    padding-top: 30px;
}

#tasks-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#tasks-header{
    margin-bottom: 40px;
}

#add-taks-form{
    position: relative;
}

#add-tasks-form input{
    box-sizing: border-box;
    border: 1px solid #34073D;
    background: #FFF;
    color: #34073D;
    padding: 15px;
    font-size: 18px;
    width: 100%;
}

#add-tasks-form input:placeholder{
    color: #34073D;
}

#add-btn{
    position: absolute;
    background: #FFF;
    border: 1px solid #34073D;
    cursor: pointer;
    transition: .5s;
    width: 60px;
    height: 53px;
  
    padding-top: 3px;
}

ion-icon{
    font-size: 25px;
}

#add-tasks-form input:focus{
    outline: none;
}

#add-btn:hover{
    background-color: #34073D;
    color: #FFF;
}

#tasks-list{
    list-style: none;
    padding-left: 0;
}

#tasks-list li{
    text-align: left;
    height: 50px;
    line-height: 50px;
    position: relative;
    border-bottom: 3px solid #34073D;
    background-color: #FFF;
    color: #34073D;
    margin-bottom: 10px;
    padding-left: 15px;
    transition: .5s;
}